<manifest package="com.vcc.widgetpro"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"/>
    <application
        android:allowBackup="true"
        android:label="WidgetPro"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver
            android:name=".CaffeinateWidgetProvider"
            android:exported="true">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/caffeinate_widget_info" />
        </receiver>

        <service
            android:name=".CaffeinateService"
            android:exported="false"
            android:foregroundServiceType="specialUse" />

        <activity
            android:name=".CaffeinateActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTask"
            android:showWhenLocked="true"
            android:turnScreenOn="true"/>

        <activity
            android:name=".DurationPickerActivity"
            android:exported="false"/>

    </application>

</manifest>
